<div class="login-form-container">
  <form id="login-form" [formGroup]="loginForm" (submit)="submit()">
    <p>
      <mat-form-field>
        <mat-label for="login">Identifiant</mat-label>
        <input matInput id="login" name="login" type="text" formControlName="login" />
      </mat-form-field>
      @if(loginForm.controls.login.errors?.['required']) {
          <span *ngIf="loginForm.controls.login.errors?.['required']">
            Enter your login
          </span>
      }
      @if(loginForm.controls.login.errors?.['minlength']) {
          <span *ngIf="loginForm.controls.login.errors?.['minlength']">
            The login must have a minimum of 3 characters.
          </span>
      }
    </p>
    <p>
      <mat-form-field>
        <mat-label for="login">Password</mat-label>
        <input matInput id="password" name="password" type="password" formControlName="password" />
      </mat-form-field>
      {{loginForm.controls.password.errors?.['checkPassword']}}
    </p>
    <p>
      <button matButton color="primary" type="submit" [disabled]="loginForm.invalid">Se connecter</button>
    </p>
  </form>
</div>